{% extends 'base.html' %}

{% block title %}Posts | {{ block.super }}{% endblock %}

{% block description %} Tatsu's Blog. Here is everything of my life.{% endblock %}

{% block content %}


<h1>Post of "{{ category.name }}"</h1>
<ul>
  {% for post in object_list %}
  {% if user.is_authenticated or post.is_public %}
  <li>{% if not post.is_public %}[Draft] {% endif %}<a href="{% url 'blog:post_detail' post.id %}">{{ post.title }}</a></li>

  {% if post.image %}
    <a href="{% url 'blog:post_detail' post.id %}">
      <img src="{{ post.image.url }}" alt="{{ post.title }}" width="240" height="126">
    </a>
  {% endif %}

  {% else %}
  <li>No Post</li>
  {% endif %}
  {% empty %}
  <li>No Post</li>
  {% endfor %}
</ul>

{% endblock %}