{% extends 'base.html' %} 

{% block title %}
  Posts | {{ block.super }}
{% endblock %}

{% block description %}
Tatsu's Blog. Here is everything of my life.
{% endblock %} 


{% block content %}
<div class="container">
  <div class="row">
    <main class="col-md-7">
      <h1 class="mb-4">All posts</h1>
      <ul>
        {% for post in object_list %} {% if user.is_authenticated or post.is_public %}
        <li>
          {% if not post.is_public %}[Draft] {% endif %}
          <a href="{% url 'blog:post_detail' post.id %}">{{ post.title }}</a>
          
          <br>
          {% if post.image %}
          <a href="{% url 'blog:post_detail' post.id %}">
            <img src="{{ post.image.url }}" alt="{{ post.title }}" width="240" height="126">
          </a>
          {% endif %}
        </li>
        {% endif %} {% empty %}
        <li>No Post yet</li>
        {% endfor %}
        
      </ul>
    </main>


    <aside class="col-md-4">{% include 'blog/snippets/sidebar.html' %}</aside>
  </div>
</div>
{% endblock %}
